#container {
    width: 600px;
    margin: 20px auto;
    padding: 15px;
    background-color: #eee;
}

#addField {
    padding: 5px;
    display: inline-block;
    background-color: #3A9668;
    color: #f1f1f1;
    border: 1px solid #005;
}

.removeField {
    margin: auto;
    margin-left: 5px;
    padding: 5px;
    display: inline-block;
    background-color: #B02109;
    color: #f1f1f1;
    border: 1px solid #005;
}

#addField:hover,
.removeField:hover {
    cursor: pointer;
}

.btn-submit {
    width: 100px;
    background-color: #428BCA;
    border-color: #357EBD;
}

.container {
    display: flex;

    /* Misc */
    /* border: 1px solid #cbd5e0;
    height: 16rem;
    width: 100%; */
}

.container__left {
    /* Initially, the left takes 3/4 width */
    width: 25%;

    /* Misc */
    /* align-items: center; */
    display: flex;
    justify-content: center;
}

.resizer {
    background-color: #cbd5e0;
    cursor: ew-resize;
    height: 100%;
    width: 5px;
}

.container__right {
    /* Take the remaining width */
    flex: 1;

    /* Misc */
    /* align-items: center; */
    display: flex;
    justify-content: center;
}