*{
	margin: 0;
	padding: 0;
}

body{
	margin-right: 10px;
	margin-left: 10px;
	margin: 0 auto;
	position: relative;
}

.main{
	padding-top: 71px;
}
.header{
	width: 100%;
}

.content{
	height: 100%;
	width: 100%;
	padding-top: 10px;
	margin-left: 10px;
	position: fixed;
    overflow: scroll;
    right: 0px;
    padding-bottom: 100px;
    margin-bottom: 10px;
    font-size: 22px;
}

.scroll{
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: scroll;
}

.dropdown b{
	font-size: 18px;
}

.submenu a{
	padding:0 0 0 10px !important;
	color: black;
	font-size:18px !important;
}

.submenu b{
	font-weight: bold !important;
	font-size:20px;
}

.item-menu>li>a{
	font-size: 20px !important;
	font-weight: bold !important;
}

.item-menu>li:active a{
	color: black !important;	
}

.sidebar{
	padding-top: 10px;
	padding-bottom: 60px;
	margin-bottom: 10px;
}

.nav-link:hover{
	background-color: green;
	color: white;
}

.bookmark{
	position: fixed;
	right: 0px;
}

#col a.active{
	background-color: #4CAF50;
	color: white;
}