<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="22.7.0" targetFramework="net472" />
  <package id="Aspose.Words" version="22.7.0" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="CrystalReports.Engine" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.ReportSource" version="13.0.4001" targetFramework="net472" />
  <package id="CrystalReports.Shared" version="13.0.4001" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net472" />
  <package id="log4net" version="2.0.14" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="19.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.2.0.39" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.5" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>