  <!-- ======= Footer ======= -->
  {% load static %}
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Infinity</h3>
            <p>
              Hà Nội<br>
              Việt Nam <br><br>
              <strong>Phone:</strong> +84 987 654 321<br>
              <strong>Email:</strong> infinity@email.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liên kết</h4>
            <ul>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Công nghệ</a></li> -->
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tài chính</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Tâm lý học</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Sưu tầm</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Ngoại ngữ</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Các dịch vụ</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Liên hệ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Đóng góp</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Tuyển dụng</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Thành viên</a></li> -->
              <li><i class="bx bx-chevron-right"></i> <a href="#">Thông tin</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Gửi ý kiến</h4>
            <p>Mỗi một góp ý là một động lực để chúng tôi nỗ lực hơn.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Infinity</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="#">Nam Nguyen</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.skype.com/" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  
  <!-- <div id="preloader"></div> -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>