<!DOCTYPE html>
<html lang="en">
  
{% include "Common/head.html" %}

<body>

  {% include "Common/header.html" %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Tóm tắt sách</h2>
        <p>Trang tóm tắt các loại sách hay</p>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <br><br><br>

    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div data-aos="fade-up" data-aos-delay="100">
          <div>

              <div>
                <div class="testimonial-item">
                  <!-- <img src="static/assets/img/pic.jpg" class="testimonial-img" alt=""> -->
                  <h3><a href="bookdetails">Cha giàu cha nghèo</a></h3>
                  <h4>Robert Kiyosaki &amp; Sharon Lechter</h4>
                  
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Bạn sẽ làm gì khi được cả hai người cha truyền dạy cho mình về chủ đề tiền bạc và sự lựa chọn cách sống trong đời. Một người là bố ruột, còn người kia là bố người bạn thân nhất. Một người có nền học vấn rất cao trong khi người kia chỉ học tới trung học, nhưng cả hai đều thành công trong sự nghiệp và có ảnh hưởng đến người khác
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                    
                  </div>
                </div>
              </div>
          </div>
        </div>

      </div>
    </section>

    <br><br><br>
  </main><!-- End #main -->

  {% include "Common/footer.html" %}
</body>

</html>