
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Public</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <!-- <li><a class="active" href="#">Tin tức</a></li> -->
          <!-- <li><a href="#">Tin tức</a></li> -->
          <!-- <li class="dropdown"><a href="/details"><span>Công nghệ</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Công nghệ tương lai</a></li>
              <li class="dropdown"><a href="#"><span>Thủ thuật</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="cmd">CMD</a></li>
                </ul>
              </li>
              <li><a href="#">Công cụ</a></li>
            </ul>
          </li> -->
          <li><a href="#">Tài chính</a></li>
          <li><a href="#">Tâm lý học</a></li>

          <!-- <li class="dropdown"><a href="#"><span>Sưu tầm</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="truyenhay">Truyện hay</a></li>
              <li class="dropdown"><a href="#"><span>Câu nói hay</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Về cuộc sống</a></li>
                  <li><a href="#">Về tình cảm</a></li>
                  <li><a href="#">Phát triển bản thân</a></li>
                </ul>
              </li>
              <li><a href="#">Bài học cuộc sống</a></li>
            </ul>
          </li> -->

          <li class="dropdown"><a href="#"><span>Kiến thức</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="book">Tóm tắt sách</a></li>
              <li><a href="#">Tiếng Anh</a></li>
              <li class="dropdown"><a href="#"><span>Bài học cuộc sống</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Truyện</a></li>
                  <li><a href="#">Câu nói</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <!-- <li><a href="plan">Kiến thức</a></li> -->

    </div>
  </header><!-- End Header -->
  