<!DOCTYPE html>
<html lang="en">

{% include "Common/head.html" %}

<body>

  {% include "Common/header.html" %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2 onclick="writeUserData(1, 'name', 'a', 'c')">Tài chính cá nhân</h2>
        <p>Quản lý thu chi cá nhân</p>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <br><br><br>

    <section id="testimonials">
      <div class="container">

        <div>
          <div>

            <div>
              <div class="testimonial-item">
                <canvas height="40vh" width="80vw" id="myChart" width="400" height="400"></canvas>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <br><br><br>
  </main><!-- End #main -->

  {% include "Common/footer.html" %}

</body>

</html>


<script>
  function activeFunction(e) {
    e.preventDefault();
    var elems = document.querySelector(".active");
    if (elems !== null) {
      elems.classList.remove("active");
    }
    e.target.className = "active";
  }
</script>

<script>
  var obj = jQuery.parseJSON('{ "name": "Nam" }');

  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    data: {
      labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'],
      datasets: [{
        type: 'bar',
        label: '# Thu nhập',
        data: [12, 19, 3, 5, 2, 3, 12, 0, 3, 5, 2, 3, 12, 19, 3, 5, 2, 3],
        backgroundColor: [
          'rgba(153, 102, 255, 0.2)'
        ],
        borderColor: [
          'rgba(153, 102, 255, 1)'
        ],
        borderWidth: 2
      }, {
        type: 'bar',
        label: '# Chi tiêu',
        data: [-1, -9, -13, -25, -20, -8, -1, -9, -13, -25, -20, -8, -1, -9, -13, -25, -20, -8],
        backgroundColor: [
          'rgba(255, 178, 0, 0.2)'
        ],
        borderColor: [
          'rgba(255, 178, 0, 1)'
        ],
        borderWidth: 2
      }, {
        type: 'line',
        label: '# Tài sản',
        //fill: true,
        data: [5.5, 5, 5, 10, 12.5, -8, -5.5, -9, -13, -25, -20, -8, -1, -9, -13, -25, -20, -8],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)'
        ],
        borderWidth: 2
      }]
    },
    options: {
      animation: {
        duration: 1000,
        easing: 'linear'
      },
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true
        }
      },
      plugins: {
        title: {
          display: true,
          text: "Tháng 06/2021",
          font: {
            size: 20,
          },
          fullSize: true,
        },
        legend: {
          display: true,
          position: 'right',
          labels: {
            color: 'rgb(0, 99, 132)',
          }
        }
      }
    }
  });
</script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyBKg5b3Cj1ueurm7FHmroj_0cR1SgOnNqU",
    authDomain: "finapsyc.firebaseapp.com",
    databaseURL: "https://finapsyc-default-rtdb.firebaseio.com",
    projectId: "finapsyc",
    storageBucket: "finapsyc.appspot.com",
    messagingSenderId: "889776798288",
    appId: "1:889776798288:web:de580e47ba0d3e63166f55",
    measurementId: "G-XLHT820GL5"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();



  function writeUserData(userId, name, email, imageUrl) {
    firebase.database().ref().set({
      username: name,
      email: email,
      profile_picture : imageUrl
    });
  }
  
</script>