<!DOCTYPE html>
<html lang="en">
  
{% include "MyApp/head.html" %}

<body>

  {% include "MyApp/header.html" %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Học lập trình Python</h2>
        <p>Tất cả các kiến thức liên quan đến Python</p>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <br><br><br>

    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div data-aos="fade-up" data-aos-delay="100">
          <div>

              <div>
                <div class="testimonial-item">
                  <!-- <img src="static/assets/img/pic.jpg" class="testimonial-img" alt=""> -->
                  <h3><a href="details">Ajax trong Python</a></h3>
                  <h4>Nam Nguyen</h4>
                  <p>
                    <ul>
                      <li></li>
                    </ul>
                  </p>
                </div>
              </div>
          </div>
        </div>

      </div>
    </section>

    <br><br><br>
  </main><!-- End #main -->

  {% include "MyApp/footer.html" %}

</body>

</html>


<script>
  function activeFunction(e) {
    e.preventDefault(); 
    var elems = document.querySelector(".active");
    if(elems !==null){
    elems.classList.remove("active");
    }
    e.target.className = "active";
  }
</script>