<!DOCTYPE html>
<html lang="en">

{% include "MyApp/head.html" %}

<body>

  {% include "MyApp/header.html" %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Học lập trình Python</h2>
        <p>Tất cả các kiến thức liên quan đến Python</p>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <br><br><br>

    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a href="#">The Python Tutorial</a></h5>
                <p class="fst-italic text-center">Monday, July 26th 2021 at 15:30</p>
                <p>
                  <span class="trans">Python is an easy to learn, powerful programming language. </span>
                  <span class="trans">It has efficient high-level data structures and a simple but effective approach to object-oriented programming. </span>
                  <span class="trans">Python’s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.</span>
                </p>

                <p class="trans">The Python interpreter and the extensive standard library are freely available in source or binary form for all major platforms from the Python Web site, https://www.python.org/, and may be freely distributed. The same site also contains distributions of and pointers to many free third party Python modules, programs and tools, and additional documentation.</p>
                  
                <p class="trans">The Python interpreter is easily extended with new functions and data types implemented in C or C++ (or other languages callable from C). Python is also suitable as an extension language for customizable applications.</p>
                  
                <p class="trans">This tutorial introduces the reader informally to the basic concepts and features of the Python language and system. It helps to have a Python interpreter handy for hands-on experience, but all examples are self-contained, so the tutorial can be read off-line as well.</p>
                  
                <p class="trans">For a description of standard objects and modules, see The Python Standard Library. The Python Language Reference gives a more formal definition of the language. To write extensions in C or C++, read Extending and Embedding the Python Interpreter and Python/C API Reference Manual. There are also several books covering Python in depth.</p>
                  
                <p class="trans">This tutorial does not attempt to be comprehensive and cover every single feature, or even every commonly used feature. Instead, it introduces many of Python’s most noteworthy features, and will give you a good idea of the language’s flavor and style. After reading it, you will be able to read and write Python modules and programs, and you will be ready to learn more about the various Python library modules described in The Python Standard Library.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a href="#">Hướng dẫn học Python</a></h5>
                <p class="fst-italic text-center">Chủ nhật, ngày 26 tháng 7 năm 2021 15:30</p>
                <p class="trans" id = 'asd'>Python là một ngôn ngữ lập trình mạnh mẽ, dễ học. Nó có cấu trúc dữ liệu cấp cao hiệu quả và cách tiếp cận đơn giản nhưng hiệu quả để lập trình hướng đối tượng. Cú pháp thanh lịch và tính năng nhập động của Python, cùng với bản chất được thông dịch của nó, khiến nó trở thành ngôn ngữ lý tưởng cho việc tạo tập lệnh và phát triển ứng dụng nhanh chóng trong nhiều lĩnh vực trên hầu hết các nền tảng.</p>

                <p class="trans">Trình thông dịch Python và thư viện tiêu chuẩn mở rộng có sẵn miễn phí ở dạng mã nguồn hoặc nhị phân cho tất cả các nền tảng chính từ trang web Python, https://www.python.org/, và có thể được phân phối miễn phí. Trang web tương tự cũng chứa các bản phân phối và trỏ đến nhiều mô-đun, chương trình và công cụ Python miễn phí của bên thứ ba cũng như tài liệu bổ sung.</p>
                  
                <p class="trans">Trình thông dịch Python dễ dàng được mở rộng với các hàm và kiểu dữ liệu mới được triển khai bằng C hoặc C ++ (hoặc các ngôn ngữ khác có thể gọi từ C). Python cũng thích hợp làm ngôn ngữ mở rộng cho các ứng dụng có thể tùy chỉnh.</p>
                  
                <p class="trans">Hướng dẫn này giới thiệu cho người đọc một cách chính thức về các khái niệm và tính năng cơ bản của ngôn ngữ và hệ thống Python. Việc có một trình thông dịch Python hữu ích để có trải nghiệm thực tế, nhưng tất cả các ví dụ đều độc lập, vì vậy hướng dẫn cũng có thể được đọc ngoại tuyến.</p>
                  
                <p class="trans">Để biết mô tả về các đối tượng và mô-đun chuẩn, hãy xem Thư viện chuẩn Python. Tham chiếu ngôn ngữ Python cung cấp một định nghĩa chính thức hơn về ngôn ngữ. Để viết các phần mở rộng bằng C hoặc C ++, hãy đọc phần Mở rộng và Nhúng Trình thông dịch Python và Hướng dẫn Tham khảo API Python / C. Ngoài ra còn có một số cuốn sách chuyên sâu về Python.</p>
                  
                <p class="trans">Hướng dẫn này không cố gắng toàn diện và bao gồm mọi tính năng đơn lẻ, hoặc thậm chí mọi tính năng thường được sử dụng. Thay vào đó, nó giới thiệu nhiều tính năng đáng chú ý nhất của Python và sẽ cung cấp cho bạn ý tưởng tốt về hương vị và phong cách của ngôn ngữ. Sau khi đọc nó, bạn sẽ có thể đọc và viết các mô-đun và chương trình Python, đồng thời bạn sẽ sẵn sàng tìm hiểu thêm về các mô-đun thư viện Python khác nhau được mô tả trong Thư viện chuẩn Python.</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

    <br><br><br>
  </main><!-- End #main -->

  {% include "MyApp/footer.html" %}

</body>

</html>


<script>
  function activeFunction(e) {
    e.preventDefault();
    var elems = document.querySelector(".active");
    if (elems !== null) {
      elems.classList.remove("active");
    }
    e.target.className = "active";
  }

  $('body').on({
    'mouseenter': function(){
            var txt = $(this).html();
            //alert(txt)
        }
    },
    'span.trans'
  );

</script>