{% extends "base-user.html" %}
{% block title %}infY{% endblock %}
{% block content %}
<div class="col-md-5 col-xl-5">
  <div class="card">
    <div class="card-block">
      <!-- <div id="statestics-chart" style="height: 90vh"></div> -->
      <!-- {{data}} -->
      <div class="row">
        {%for item in data %}
        <div class="col-sm-6">
          <!-- <h4 class="sub-title">Input Sizes</h4> -->
          <form>
            <div class="form-group row">
              <div class="col-sm-12">
                <label class="col-form-label" for="">{{item['mota']}}</label>
                <textarea style="resize:none; overflow:hidden; height:2em !important; padding:2px;"
                  name="{{item['ten']}}" id="{{item['ten']}}"></textarea>
              </div>
            </div>
          </form>

        </div>
        {%endfor %}

      </div>


    </div>

  </div>
</div>

<div class="col-md-7 col-xl-7">

  <!-- <embed src="http://infolab.stanford.edu/pub/papers/google.pdf" type="application/pdf" frameBorder="0" scrolling="auto"
    height="100%" width="100%" /> -->
  <embed src="{{ url_for('resources', path='a.pdf') }}" type="application/pdf" frameBorder="0" scrolling="auto"
    height="100%" width="100%" style="height: 90vh;" />

</div>

<script type="text/javascript">
  $(document).ready(function () {
    var span = $('<span>').css('display', 'inline-block')
      .css('word-break', 'break-all').appendTo('body').css('visibility', 'hidden');
    function initSpan(textarea) {
      span.text(textarea.text())
        .width(textarea.width())
        .css('font', textarea.css('font'));
    }
    $('textarea').on({
      input: function () {
        initSpan($(this));
        var text = $(this).val();
        span.text(text);
        $(this).height(text ? span.height() : '2em');
      },
      focus: function () {
        initSpan($(this));
        var text = $(this).val();
        span.text(text);
        $(this).height(text ? span.height() : '2em');
      },
      keypress: function (e) {
        if (e.which == 13) e.preventDefault();
      }
    });
  })

  $("#submit").click(function () {
    $.ajax({
      url: '/login',
      dataType: "json",
      //xhrFields: { withCredentials: true },
      headers: { "Content-Type": "application/json", "Accept": "application/json" },
      type: 'POST',
      contentType: "application/json",
      data: JSON.stringify({
        "username": "nam",
        "password": "nam"
      }),
      success: function (output, status, xhr, data) {
        //console.log(xhr.getAllResponseHeaders().toString());
        //console.log(document.cookie.toString())
        alert('ok')
      },
      error: function (data, errorThrown) {
        alert(3);
      }
    });
  });
</script>

{% endblock %}