{% extends "base.html" %}
{% block title %}infY{% endblock %}
{% block content %}
<div class="col-md-5 col-xl-5">
  <div class="card">
    <div class="card-block">
      <!-- <div id="statestics-chart" style="height: 90vh"></div> -->
      <!-- {{data}} -->
      {% for item in data %}
        <label for="">{{item}}</label>
        <br />
      {% endfor %}

    </div>

  </div>
</div>

<div class="col-md-7 col-xl-7">

  <!-- <embed src="http://infolab.stanford.edu/pub/papers/google.pdf" type="application/pdf" frameBorder="0" scrolling="auto"
    height="100%" width="100%" /> -->
  <embed src="{{ url_for('resources', path='a.pdf') }}" type="application/pdf" frameBorder="0" scrolling="auto"
    height="100%" width="100%" style="height: 90vh;" />

</div>

<script type="text/javascript">
  $("#submit").click(function () {
    $.ajax({
      url: '/login',
      dataType: "json",
      //xhrFields: { withCredentials: true },
      headers: { "Content-Type": "application/json", "Accept": "application/json" },
      type: 'POST',
      contentType: "application/json",
      data: JSON.stringify({
        "username": "nam",
        "password": "nam"
      }),
      success: function (output, status, xhr, data) {
        //console.log(xhr.getAllResponseHeaders().toString());
        //console.log(document.cookie.toString())
        alert('ok')
      },
      error: function (data, errorThrown) {
        alert(3);
      }
    });
  });
</script>
{% endblock %}