beautifulsoup4==4.11.1
googletrans==3.0.0
gtts==2.2.4
img2pdf==0.4.4
openpyxl==3.0.10
pandas==1.5.1
pdf2image==1.16.0
Pillow==9.3.0
PyPDF2==2.11.1
pytesseract==0.3.10
pyttsx3==2.90
requests==2.28.1
tools==0.1.9
urllib3==1.26.12
xlrd==2.0.1
xlsxwriter==3.0.3
