Button {
    background: lightsalmon;
    border: none;
    color: rgba(0, 0, 0, 0.918);
    padding: 0;
    /* width: 100%; */
    text-style: bold;
    content-align: center middle;
    height: 3;
}

#btnExecute {
    height: 3;
    column-span: 2
}

Button:hover {
    background: rgb(255, 0, 0);
    /* border: solid red; */
    color: #ffffff;
}

Header{
    /* margin-bottom: 1;
    margin-top: 1; */
}


Input {
    margin-bottom: 1;
    color: white;
    border: none;
    text-style: bold;
    content-align: center middle;
    height: 3;
    /* width: 100%; */
}

#txtPath {
    column-span: 10;
}

/* Screen {
    layout: grid;
    grid-size: 12;
} */

.box {
    /* height: 100%; */
    width: 1fr;
    /* border: solid green; */
}

Label {
    column-span: 12;
    height: 1;
    margin: 0;
}

#app-grid {
    layout: grid;
    grid-size: 12;
    /* two columns */
    grid-columns: 1fr;
    grid-rows: 1fr;
}

#left-pane>Static {
    /* background: $boost; */
    /* color: auto; */
    margin-bottom: 1;
    /* padding: 1; */
}

#left-pane {
    width: 100%;
    height: 100%;
    column-span: 2;
    row-span: 2;
    /* background: $panel; */
    border: dodgerblue;
}

#top-right {
    height: 100%;
    background: $panel;
    column-span: 5;
    border: mediumvioletred;
}

#top-right>Static {
    width: auto;
    height: 100%;
    margin-right: 1;
    background: $boost;
}

#bottom-right {
    height: 100%;
    /* layout: grid; */
    column-span: 5;
    /* grid-size: 3; */
    grid-columns: 1fr;
    grid-rows: 1fr;
    grid-gutter: 1;
    background: $panel;
    border: greenyellow;
}

#bottom-right-final {
    /* column-span: 2; */
}

#bottom-right>Static {
    /* height: 100%;
    background: $boost; */
}

RadioSet{
    width: 100%;
    margin-bottom: 1;
}

TextLog{
    padding-left: 1;
}