{% extends "base/base-user.html" %}
{% block title %}infY{% endblock %}
{% block content %}
<div class="col-md-5 col-xl-5" style="overflow-y: auto; max-height: 100vh;">
  <div class="card">
    <div class="card-block">
      <!-- <div id="statestics-chart" style="height: 90vh"></div> -->
      <!-- {{data}} -->
      <!-- <div class="row">
        {%for item in data %}
        <div class="col-sm-6">
          <h4 class="sub-title">Input Sizes</h4>
          
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">{{item['mota']}}</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="{{item['ten']}}" id="{{item['ten']}}" contenteditable></span>
              </div>
            </div>
          

        </div>
        {%endfor %}

      </div> -->

      <!-- {{data['duongdan']}} -->

      <form id="dataentry">
        <h4 class="sub-title">Thông tin cơ bản</h4>

        <div class="row">

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Số hiệu</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="so" contenteditable></span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Quyển số</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="quyenSo" contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Trang số</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="trangSo" contenteditable></span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Ngày đăng ký</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="ngayDangKy"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Loại đăng ký</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="loaiDangKy"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Nơi đăng ký</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="noiDangKy"
                  contenteditable></span>
              </div>
            </div>


          </div>
        </div>

        <h4 class="sub-title">Thông tin người khai sinh</h4>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4 col-4" for="">Họ và tên</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nksHoTen"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Giới tính</label>
                <!-- <textarea class="col-8" style="resize:none; overflow:hidden; height:2em !important; float: right;" name="nksGioiTinh"
                  id="nksGioiTinh" contenteditable></span> -->
                <select class="ui search dropdown selection border border-secondary" id="nksGioiTinh">
                  <option value="0">Nam</option>
                  <option value="1">Nữ</option>
                  <option value="2">Khác</option>
                </select>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Ngày sinh</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nksNgaySinh"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Dân tộc</label>
                <select class="ui search dropdown selection border border-secondary" id="nksDanToc">
                  <option value="63001">Kinh</option>
                  <option value="1518">Khơ Me</option>
                  <option value="1495">Ba Na</option>
                  <option value="1551">Ba Na (A-la Công)</option>
                  <option value="1552">Ba Na (Bơ-nâm)</option>
                  <option value="1553">Ba Na (ConKđe)</option>
                  <option value="1494">Ba Na (Giơ-lar)</option>
                  <option value="1555">Ba Na (Giơ-lâng)</option>
                  <option value="1556">Ba Na (Kpăng Công)</option>
                  <option value="1557">Ba Na (Krem)</option>
                  <option value="1558">Ba Na (Roh)</option>
                  <option value="1559">Ba Na (Rơ-ngao)</option>
                  <option value="1554">Ba Na (Tơ-lô)</option>
                  <option value="1560">Ba Na (Y-lăng)</option>
                  <option value="1496">Bố Y</option>
                  <option value="1561">Bố Y (Chủng Chá)</option>
                  <option value="1562">Bố Y (Trọng Gia)</option>
                  <option value="1563">Bố Y (Tu Di)</option>
                  <option value="1564">Bố Y (Tu Din)</option>
                  <option value="1497">Brâu</option>
                  <option value="1565">Brâu (Brao)</option>
                  <option value="1498">Bru Vân Kiều</option>
                  <option value="1566">Bru Vân Kiều (Bru)</option>
                  <option value="1567">Bru Vân Kiều (Măng Coong)</option>
                  <option value="1568">Bru Vân Kiều (Tri Khùa)</option>
                  <option value="1569">Bru Vân Kiều (Vân Kiều)</option>
                  <option value="1499">Chăm </option>
                  <option value="1570">Chăm (Chàm)</option>
                  <option value="1571">Chăm (Chiêm Thành)</option>
                  <option value="1572">Chăm (Hroi)</option>
                  <option value="1500">Chơ Ro</option>
                  <option value="1573">Chơ Ro (Châu-ro)</option>
                  <option value="1574">Chơ Ro (Dơ-ro)</option>
                  <option value="1501">Chu Ru</option>
                  <option value="1575">Chu Ru (Chơ-ru)</option>
                  <option value="1576">Chu Ru (Chu)</option>
                  <option value="1502">Chứt</option>
                  <option value="1577">Chứt (A-rem)</option>
                  <option value="1578">Chứt (Chà-củi)</option>
                  <option value="1579">Chứt (Mã-liêng)</option>
                  <option value="1580">Chứt (Máy)</option>
                  <option value="1581">Chứt (Pa-leng)</option>
                  <option value="1582">Chứt (Rục)</option>
                  <option value="1583">Chứt (Sách)</option>
                  <option value="1584">Chứt (Tắc-củi)</option>
                  <option value="1585">Chứt (Tơ-hung)</option>
                  <option value="1586">Chứt (Tu vang)</option>
                  <option value="1587">Chứt (U-mo)</option>
                  <option value="1588">Chứt (Xá Lá Vàng)</option>
                  <option value="1589">Chứt (Xơ-Lang)</option>
                  <option value="1503">Co</option>
                  <option value="1590">Co (Col)</option>
                  <option value="1591">Co (Cor)</option>
                  <option value="1592">Co (Cùa)</option>
                  <option value="1593">Co (Trầu)</option>
                  <option value="1504">Cống</option>
                  <option value="1594">Cống (Mấng Nhé)</option>
                  <option value="1595">Cống (Xá Xeng)</option>
                  <option value="1596">Cống (Xắm Khống)</option>
                  <option value="1505">Cơ Ho</option>
                  <option value="1597">Cơ Ho (Chil)</option>
                  <option value="1598">Cơ Ho (Cơ-don)</option>
                  <option value="1388">Cơ Ho (Kơ Ho)</option>
                  <option value="1599">Cơ Ho (Lach)</option>
                  <option value="1600">Cơ Ho (Lat)</option>
                  <option value="1601">Cơ Ho (Nốp)</option>
                  <option value="1602">Cơ Ho (Trinh)</option>
                  <option value="1603">Cơ Ho (Tu-lốp)</option>
                  <option value="1604">Cơ Ho (Xrê)</option>
                  <option value="1506">Cơ Lao</option>
                  <option value="1507">Cơ Tu</option>
                  <option value="1605">Cơ Tu (Cao)</option>
                  <option value="1606">Cơ Tu (Ca-tang)</option>
                  <option value="1607">Cơ Tu (Ca-tu)</option>
                  <option value="1608">Cơ Tu (Hạ)</option>
                  <option value="1609">Cơ Tu (Phương)</option>
                  <option value="1508">Dao</option>
                  <option value="1610">Dao (Cóc Mùn)</option>
                  <option value="1611">Dao (Cóc Ngáng)</option>
                  <option value="1612">Dao (Dao Đỏ)</option>
                  <option value="1613">Dao (Dao Tiền)</option>
                  <option value="1614">Dao (Dìu)</option>
                  <option value="1615">Dao (Đại Bản)</option>
                  <option value="1616">Dao (Động)</option>
                  <option value="1617">Dao (Kiềm)</option>
                  <option value="1618">Dao (Lan Tẻn)</option>
                  <option value="1619">Dao (Lô Giang)</option>
                  <option value="1620">Dao (Mán)</option>
                  <option value="1621">Dao (Miên)</option>
                  <option value="1622">Dao (Miền)</option>
                  <option value="1623">Dao (Quần Chẹt)</option>
                  <option value="1624">Dao (Quần Trắng)</option>
                  <option value="1625">Dao (Sơn Đầu)</option>
                  <option value="1626">Dao (Thanh Y)</option>
                  <option value="1627">Dao (Tiểu Bản)</option>
                  <option value="1628">Dao (Trại)</option>
                  <option value="1629">Dao (Xá)</option>
                  <option value="1509">Ê Đê</option>
                  <option value="1630">Ê Đê (A-đham)</option>
                  <option value="1631">Ê Đê (Bih)</option>
                  <option value="1632">Ê Đê (Blô)</option>
                  <option value="1633">Ê Đê (Đê)</option>
                  <option value="1634">Ê Đê (Đliê Ruê)</option>
                  <option value="1635">Ê Đê (Epan)</option>
                  <option value="1636">Ê Đê (Kpạ)</option>
                  <option value="1637">Ê Đê (Krung)</option>
                  <option value="1638">Ê Đê (Ktul)</option>
                  <option value="1639">Ê Đê (Mđhur)</option>
                  <option value="1640">Ê Đê (Ra-đê)</option>
                  <option value="1510">Gia Rai</option>
                  <option value="1641">Gia Rai (Chor)</option>
                  <option value="1642">Gia Rai (Chơ-rai)</option>
                  <option value="1643">Gia Rai (Giơ-rai)</option>
                  <option value="1644">Gia Rai (Hđrung)</option>
                  <option value="1645">Gia Rai (Hơ-bau)</option>
                  <option value="1646">Gia Rai (Tơ-buăn)</option>
                  <option value="1511">Giáy</option>
                  <option value="1647">Giáy (Cùi Chu)</option>
                  <option value="1648">Giáy (Dẩng)</option>
                  <option value="1649">Giáy (Nhắng)</option>
                  <option value="1650">Giáy (Pầu Thìn Nu Nà)</option>
                  <option value="1651">Giáy (Xa)</option>
                  <option value="1512">Giẻ-Triêng</option>
                  <option value="1652">Giẻ-Triêng (Ca-tang)</option>
                  <option value="1653">Giẻ-Triêng (Đgiéh)</option>
                  <option value="1654">Giẻ-Triêng (Giang Rẫy Pin)</option>
                  <option value="1492">Giẻ-Triêng (Gié Triêng)</option>
                  <option value="1655">Giẻ-Triêng (La-ve)</option>
                  <option value="1656">Giẻ-Triêng (Tareb)</option>
                  <option value="1657">Giẻ-Triêng (Ta-riêng)</option>
                  <option value="1658">Giẻ-Triêng (Treng)</option>
                  <option value="1659">Giẻ-Triêng (Triêng)</option>
                  <option value="1660">Giẻ-Triêng (Ve)</option>
                  <option value="1661">Giẻ-Triêng (Veh)</option>
                  <option value="1513">Hà Nhì</option>
                  <option value="1662">Hà Nhì (U Ni)</option>
                  <option value="1663">Hà Nhì (Xá U Ni)</option>
                  <option value="1514">Hoa </option>
                  <option value="1664">Hoa (Hạ)</option>
                  <option value="1665">Hoa (Hải Nam)</option>
                  <option value="1666">Hoa (Hán)</option>
                  <option value="1667">Hoa (Phúc Kiến)</option>
                  <option value="1668">Hoa (Quảng Đông)</option>
                  <option value="1669">Hoa (Triều Châu)</option>
                  <option value="1670">Hoa (Xạ Phạng)</option>
                  <option value="1515">Hrê</option>
                  <option value="1671">Hrê (Chăm Rê)</option>
                  <option value="1672">Hrê (Chom)</option>
                  <option value="1673">Hrê (Krẹ Luỹ)</option>
                  <option value="63432">Khác</option>
                  <option value="1517">Kháng</option>
                  <option value="1674">Kháng (Quảng Lâm)</option>
                  <option value="1675">Kháng (Xá Ái)</option>
                  <option value="1676">Kháng (Xá Bung)</option>
                  <option value="1677">Kháng (Xá Dẩng)</option>
                  <option value="1678">Kháng (Xá Dón)</option>
                  <option value="1679">Kháng (Xá Hốc)</option>
                  <option value="1680">Kháng (Xá Khao)</option>
                  <option value="1681">Kháng (Xá Súa)</option>
                  <option value="1682">Khơ Me (Cu)</option>
                  <option value="1683">Khơ Me (Cul)</option>
                  <option value="1684">Khơ Me (Cur)</option>
                  <option value="1389">Khơ Me (Khmer)</option>
                  <option value="1685">Khơ Me (Krôm)</option>
                  <option value="1686">Khơ Me (Thổ)</option>
                  <option value="1687">Khơ Me (Việt gốc Miên)</option>
                  <option value="1519">Khơ mú</option>
                  <option value="1688">Khơ mú (Mứn Xen)</option>
                  <option value="1689">Khơ mú (Pu Thênh)</option>
                  <option value="1690">Khơ mú (Tày Hay)</option>
                  <option value="1691">Khơ mú (Tềnh)</option>
                  <option value="1692">Khơ mú (Xá Cẩu)</option>
                  <option value="1521">La Chí</option>
                  <option value="1693">La Chí (Cù Tê)</option>
                  <option value="1694">La Chí (La Quả)</option>
                  <option value="1522">La Ha</option>
                  <option value="1695">La Ha (Khlá Phlạo)</option>
                  <option value="1696">La Ha (Xá Khao)</option>
                  <option value="1523">La Hủ</option>
                  <option value="1697">La Hủ (Cò Xung)</option>
                  <option value="1698">La Hủ (Khả Quy)</option>
                  <option value="1699">La Hủ (Khù Xung)</option>
                  <option value="1700">La Hủ (Lao)</option>
                  <option value="1701">La Hủ (Pu Đang)</option>
                  <option value="1524">Lào</option>
                  <option value="1702">Lào (Là Bốc)</option>
                  <option value="1703">Lào (Lào Nọi)</option>
                  <option value="1525">Lô Lô</option>
                  <option value="1704">Lô Lô (Mun Di)</option>
                  <option value="1526">Lự</option>
                  <option value="1705">Lự (Duôn)</option>
                  <option value="1706">Lự (Lừ)</option>
                  <option value="1707">Lự (Nhuồn)</option>
                  <option value="1527">Mạ</option>
                  <option value="1708">Mạ (Châu Mạ)</option>
                  <option value="1709">Mạ (Mạ Krung)</option>
                  <option value="1710">Mạ (Mạ Ngăn)</option>
                  <option value="1711">Mạ (Mạ Tô)</option>
                  <option value="1712">Mạ (Mạ Xóp)</option>
                  <option value="1528">Mảng</option>
                  <option value="1713">Mảng (Mảng Ư)</option>
                  <option value="1714">Mảng (Xá Lá Vàng)</option>
                  <option value="1529">Mnông</option>
                  <option value="1715">Mnông (Biat)</option>
                  <option value="1716">Mnông (Bu-đâng)</option>
                  <option value="1717">Mnông (Chil)</option>
                  <option value="1718">Mnông (ĐiPri)</option>
                  <option value="1719">Mnông (Gar)</option>
                  <option value="1720">Mnông (Nông)</option>
                  <option value="1721">Mnông (Pnông)</option>
                  <option value="1722">Mnông (Pré)</option>
                  <option value="1723">Mnông (Rơ-lam)</option>
                  <option value="1530">Mông</option>
                  <option value="1491">Mông (HMông)</option>
                  <option value="1387">Mông (Hmông)</option>
                  <option value="1724">Mông (Hoa)</option>
                  <option value="1490">Mông (HơMông)</option>
                  <option value="1725">Mông (Mán Trắng)</option>
                  <option value="1726">Mông (Mèo)</option>
                  <option value="1727">Mông (Mèo Đen)</option>
                  <option value="1728">Mông (Mèo Đỏ)</option>
                  <option value="1729">Mông (Mèo Xanh)</option>
                  <option value="1730">Mông (Ná Mẻo)</option>
                  <option value="1531">Mường </option>
                  <option value="1731">Mường (Ao Tá)</option>
                  <option value="1732">Mường (Mọi)</option>
                  <option value="1733">Mường (Mọi Bi)</option>
                  <option value="1734">Mường (Mol)</option>
                  <option value="1735">Mường (Mual)</option>
                  <option value="1736">Mường (Ậu Tá)</option>
                  <option value="1532">Ngái</option>
                  <option value="1737">Ngái (Đản)</option>
                  <option value="1738">Ngái (Khách Gia)</option>
                  <option value="1739">Ngái (Lê)</option>
                  <option value="1740">Ngái (Xín)</option>
                  <option value="63430">Người nước ngoài</option>
                  <option value="1534">Nùng </option>
                  <option value="1741">Nùng (Giang)</option>
                  <option value="1742">Nùng (Khèn Lài)</option>
                  <option value="1743">Nùng (Nùng An)</option>
                  <option value="1744">Nùng (Nùng Cháo)</option>
                  <option value="1745">Nùng (Nùng Lòi)</option>
                  <option value="1746">Nùng (Phàn Sinh)</option>
                  <option value="1747">Nùng (Quý Rim)</option>
                  <option value="1748">Nùng (Xuồng)</option>
                  <option value="1535">Ơ Đu</option>
                  <option value="1749">Ơ Đu (Tày Hạt)</option>
                  <option value="1536">Pà Thẻn</option>
                  <option value="1750">Pà Thẻn (Pà Hưng)</option>
                  <option value="1751">Pà Thẻn (Tống)</option>
                  <option value="1537">Phù Lá</option>
                  <option value="1752">Phù Lá (Bồ Khô Pạ)</option>
                  <option value="1753">Phù Lá (Mu Di Pạ Xá)</option>
                  <option value="1754">Phù Lá (Phó)</option>
                  <option value="1755">Phù Lá (Phổ)</option>
                  <option value="1756">Phù Lá (Va Xơ)</option>
                  <option value="1538">Pu Péo</option>
                  <option value="1757">Pu Péo (Ka Pèo)</option>
                  <option value="1758">Pu Péo (Pen Ti Lô Lô)</option>
                  <option value="1539">RaGlay</option>
                  <option value="1759">RaGlay (La-oang)</option>
                  <option value="1760">RaGlay (Noang)</option>
                  <option value="1761">RaGlay (Ra-clây)</option>
                  <option value="1493">RaGlay (Ra-glai)</option>
                  <option value="1762">RaGlay (Rai)</option>
                  <option value="1540">Rơ Măm</option>
                  <option value="1541">Sán Chay </option>
                  <option value="1763">Sán Chay (Cao Lan)</option>
                  <option value="1764">Sán Chay (Hờn Bạn)</option>
                  <option value="1765">Sán Chay (Mán Cao Lan)</option>
                  <option value="1766">Sán Chay (Sán Chỉ)</option>
                  <option value="1767">Sán Chay (Sơn Tử)</option>
                  <option value="1542">Sán Dìu</option>
                  <option value="1768">Sán Dìu (Mán)</option>
                  <option value="1769">Sán Dìu (Quần Cộc)</option>
                  <option value="1770">Sán Dìu (Sán Dẻo)</option>
                  <option value="1771">Sán Dìu (Trại)</option>
                  <option value="1772">Sán Dìu (Trại Đất)</option>
                  <option value="1543">Si La</option>
                  <option value="1773">Si La (Cù Dề Xừ)</option>
                  <option value="1774">Si La (Khả pẻ)</option>
                  <option value="1544">Tà Ôi</option>
                  <option value="1775">Tà Ôi (Ba-hi)</option>
                  <option value="1776">Tà Ôi (Pa-co)</option>
                  <option value="1777">Tà Ôi (Pa-hi)</option>
                  <option value="1778">Tà Ôi (Tôi-ôi)</option>
                  <option value="1545">Tày</option>
                  <option value="1779">Tày (Ngạn)</option>
                  <option value="1780">Tày (Pa Dí)</option>
                  <option value="1781">Tày (Phén)</option>
                  <option value="1782">Tày (Tày Khao)</option>
                  <option value="1783">Tày (Thổ)</option>
                  <option value="1784">Tày (Thù Lao)</option>
                  <option value="1546">Thái</option>
                  <option value="1785">Thái (Hàng Bông)</option>
                  <option value="1786">Thái (Mán Thanh)</option>
                  <option value="1787">Thái (Pa Thay)</option>
                  <option value="1788">Thái (Tày Đăm)</option>
                  <option value="1789">Thái (Tày Mười)</option>
                  <option value="1790">Thái (Tày Mường)</option>
                  <option value="1791">Thái (Tày Thanh)</option>
                  <option value="1792">Thái (Thổ Đà Bắc)</option>
                  <option value="1547">Thổ</option>
                  <option value="1793">Thổ (Con Kha)</option>
                  <option value="1794">Thổ (Cuối)</option>
                  <option value="1795">Thổ (Đan Lai)</option>
                  <option value="1796">Thổ (Họ)</option>
                  <option value="1797">Thổ (Kẹo)</option>
                  <option value="1798">Thổ (Ly Hà)</option>
                  <option value="1799">Thổ (Mọn)</option>
                  <option value="1800">Thổ (Tày Pọng)</option>
                  <option value="1801">Thổ (Xá Lá Vàng)</option>
                  <option value="1548">Xinh Mun</option>
                  <option value="1802">Xinh Mun (Pụa)</option>
                  <option value="1803">Xinh Mun (Puộc)</option>
                  <option value="1549">Xơ Đăng</option>
                  <option value="1804">Xơ Đăng (Bri-la)</option>
                  <option value="1805">Xơ Đăng (Ca-dong)</option>
                  <option value="1806">Xơ Đăng (ConLan)</option>
                  <option value="1807">Xơ Đăng (Ha-lăng)</option>
                  <option value="1808">Xơ Đăng (Hđang)</option>
                  <option value="1809">Xơ Đăng (Kmrâng)</option>
                  <option value="1810">Xơ Đăng (Mơ-nâm)</option>
                  <option value="1811">Xơ Đăng (Tang)</option>
                  <option value="1812">Xơ Đăng (Tơ-đra)</option>
                  <option value="1813">Xơ Đăng (Xơ-teng)</option>
                  <option value="1550">Xtiêng</option>
                  <option value="1814">Xtiêng (Xa-điêng)</option>
                </select>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Quốc tịch</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nksQuocTich"
                  contenteditable></span>
              </div>
            </div>


          </div>



          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Nơi sinh</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nksNoiSinh"
                  contenteditable></span>
              </div>
            </div>


          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Ngày sinh bằng chữ</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nksNgaySinhBangChu"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Loại khai sinh</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nksLoaiKhaiSinh"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Nơi sinh đvhc</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nksNoiSinhDVHC"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Quê quán</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nksQueQuan"
                  contenteditable></span>
              </div>
            </div>


          </div>
        </div>

        <h4 class="sub-title">Thông tin người cha</h4>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Họ tên</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="chaHoTen"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Ngày sinh</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="chaNgaySinh"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Dân tộc</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="chaDanToc"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Quốc tịch</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="chaQuocTich"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Loại cư trú</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="chaLoaiCuTru"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Nơi cư trú</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="chaNoiCuTru"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Loại giấy tờ cha</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="chaLoaiGiayToTuyThan"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Số giấy tờ cha</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="chaSoGiayToTuyThan"
                  contenteditable></span>
              </div>
            </div>


          </div>

        </div>

        <h4 class="sub-title">Thông tin người mẹ</h4>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Họ tên</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="meHoTen" contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Ngày sinh</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="meNgaySinh"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Dân tộc</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="meDanToc"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Quốc tịch</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="meQuocTich"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Loại cư trú</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="meLoaiCuTru"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Nơi cư trú</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="meNoiCuTru"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Loại giấy tờ</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="meLoaiGiayToTuyThan"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Số giấy tờ</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="meSoGiayToTuyThan"
                  contenteditable></span>
              </div>
            </div>


          </div>
        </div>

        <h4 class="sub-title">Thông tin người đi khai</h4>

        <div class="row">

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Họ tên</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nycHoTen"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Quan hệ</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nycQuanHe"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Loại giấy tờ</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nycLoaiGiayToTuyThan"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Số giấy tờ</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nycSoGiayToTuyThan"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Ngày cấp giấy tờ</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nycNgayCapGiayToTuyThan"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Nơi cấp giấy tờ</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nycNoiCapGiayToTuyThan"
                  contenteditable></span>
              </div>
            </div>


          </div>
        </div>

        <h4 class="sub-title">Thông tin cán bộ</h4>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Người ký</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nguoiKy" contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Chức vụ người ký</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="chucVuNguoiKy"
                  contenteditable></span>
              </div>
            </div>


          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Người thực hiện</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="nguoiThucHien"
                  contenteditable></span>
              </div>
            </div>


          </div>

        </div>

        <h4 class="sub-title">Thông tin khác</h4>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12 d-flex align-items-center">
                <label class="col-form-label col-4" for="">Ghi chú</label>
                <span class="textarea col-8 border border-secondary" role="textbox" id="ghichu" contenteditable></span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-sm btn-outline-primary" id="reload"><i class="ti-reload"></i></button>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-sm btn-outline-danger" id="next"><i class="ti-angle-double-right"></i></i></button>
          </div>
        </div>

      </form>

    </div>

  </div>
</div>

<div class="col-md-7 col-xl-7">

  <!-- <embed src="http://infolab.stanford.edu/pub/papers/google.pdf" type="application/pdf" frameBorder="0" scrolling="auto"
    height="100%" width="100%" /> -->
  <!-- <embed src="/resources/test.pdf" type="application/pdf" frameBorder="0" scrolling="auto" height="100%" width="100%"
    style="height: 90vh;" /> -->

  <embed src="{{ url_for('resources', path='' + data['duongdan']) }}" type="application/pdf" frameBorder="0"
    scrolling="auto" height="100%" width="100%" style="height: 90vh;" />

</div>

<script type="text/javascript">

  function getAllValues() {
    var data = {};

    $('#dataentry :input').map(function () {
      var type = $(this).prop("type");

      // checked radios/checkboxes
      if ((type == "checkbox" || type == "radio") && this.checked) {
        data[$(this).attr('id')] = $(this).val()

      }
      // all other fields, except buttons
      else if (type != "button" && type != "submit") {
        data[$(this).attr('id')] = $(this).val()
      }
    })

    $('span').map(function () {
      data[$(this).attr('id')] = $(this).text()
    })

    return JSON.stringify(data)
  }

  $("#next").on("click", function (e) {
    e.preventDefault();
    // console.log(getAllValues());
    $.ajax({
      url: '/update-bienmuc',
      dataType: "json",
      //xhrFields: { withCredentials: true },
      headers: { "Content-Type": "application/json", "Accept": "application/json" },
      type: 'POST',
      contentType: "application/json",
      data: getAllValues(),
      success: function (output, status, xhr, data) {
        //console.log(xhr.getAllResponseHeaders().toString());
        //console.log(document.cookie.toString())
        //window.location.href = "/data-entry"
        console.log(status)
      },
      error: function (data, errorThrown) {
        alert("Cập nhật không thành công");
      }
    });
  });

</script>

{% endblock %}