{% extends "main.html" %}
{% load static %}
{% block title %}Beautiful Soup{% endblock %}
{% block content %}

<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Mục đích sử dụng</h4>
      </p>
      <blockquote class="blockquote">
        <p class="mb-0">Lấy dữ liệu trên HTML và XML</p>
        </p>
      </blockquote>
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Danh sách thẻ</h4>
        </p>
        {% for tag in lstTag %}
        <blockquote class="blockquote preview-subject">
          <a href="#"><p class="mb-0">{{tag}}</p></a>
          </p>
        </blockquote>
        {% endfor %}
      </div>

      <div class="card-body">
        <blockquote class="blockquote blockquote-primary">
          <p>fork praise salute thought cherry fold lamp flight lock else peace scheme</p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>

  {% endblock %}