{% extends "main.html" %}
{% load static %}
{% block title %}Infinity{% endblock %}
{% block content %}

<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Các câu lệnh quan trọng</h4>
      </p>
      <blockquote class="blockquote">
        <p class="mb-0">python -m pip freeze > {Đường dẫn tệp}</p>
        <p class="mb-0">python -m pip install -r requirements.txt</p>
        <p class="mb-0">pyuic5 -x gui/demo.ui -o gui/demo.py</p>
        <p class="mb-0">django-admin startproject mysite</p>
        <p class="mb-0">python manage.py startapp {Tên APP}</p>
        <p class="mb-0">python manage.py migrate</p>
        <p class="mb-0">python manage.py runserver</p>
        <p class="mb-0">python manage.py makemigrations</p>
        <p class="mb-0">python manage.py migrate</p>
        <p class="mb-0">python manage.py createsuperuser</p>
        <p class="mb-0">python manage.py syncdb</p>
        <p class="mb-0">python manage.py collectstatic</p>
        </p>
      </blockquote>
    </div>
    <div class="card-body">
      <blockquote class="blockquote blockquote-primary">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
</div>

{% endblock %}